.leftdv {
    width: 50%;
    text-align: center;
    float: left;

}

// .center {
//     display: block;
//     margin-left: auto;
//     margin-right: auto;
//     width: 50%;
// }

.rytdv {
    text-align: center;
    width: 50%;
    float: right;

}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
  }
  .button1 {background-color: red;}
  :host ::ng-deep .mat-sort-header-container { 
    display: flex;  
    justify-content: center; 
  }
  
  th.mat-header-cell, td.mat-cell { 
    text-align: center; 
  }

